.content {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 92px;
}

/* <!-- MEDIUM --> */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .content {
    max-width: 720px;
    margin-top: 90px;
    display: flex;
    align-items: center;
  }
}

/* <!-- SMALL --> */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    max-width: 288px;
    margin-top: 64px;
  }
}