.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 984px;
  height: 983px;
}

.lead__title {
  width: 720px;
  height: 200px;
  font-size: 96px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  margin: 64px 0 32px 0;

}

.lead__subtitle {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  max-width: 720px;
  margin: 0 0 64px 0;
}

.lead__imagen {
  max-width: 984px;
  width: 100%;
  display: block;
  margin: 0 auto 92px;
  object-fit: cover;
}

/* <!-- MEDIUM --> */ 

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__title {
    font-size: 75px;
    text-align: center;
    line-height: 79px;
  }

  .lead__subtitle {
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    max-width: 720px;
  }

  .lead__imagen {
    height: 480px;
    width: 768px;
  }
}

/* <!-- SMALL --> */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__title {
    font-size: 40px;
    text-align: center;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    max-width: 288px;
  }

  .lead__imagen {
    height: 200px;
    width: 320px;
  }
}