.places {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

/* SMALL  */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .places {
    margin-top: 16px;
  }
}

/* MEDIUM */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .places {
    margin-top: 12px;
    align-items: center;
  }
}